/* .input {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  border: 1px solid var(--gray-700);
  border-radius: 6px;
  padding: 4px;
  width: fit-content;
}

.input svg,
.input img {
  width: 1em;
  height: 1em;
}

.input input {
  border: none;
}

.input input:focus {
  outline: none;
}

.input:focus-within {
  box-shadow: 0px 0px 0px 3px #60A5FA;
}

.input input::placeholder {
  color: var(--gray-500);
} */

.input {
  color: var(--color-text);
  width: 100%;
  font-size: 1rem;
  line-height: 1.75rem;
  font-weight: 400;
  padding: 0.5rem 0.75rem;
  border-radius: 6px;
  border: 1px solid var(--gray-700);
  background-color: var(--white);
}

.input::placeholder {
  color: var(--gray-300);
}

.input:focus,
.select:focus {
  outline: none;
  border: 1px solid var(--gray-700);
  box-shadow: 0px 0px 0px 3px #60a5fa;
}

.input:invalid {
  border: 1px solid var(--color-error);
  box-shadow: 0px 0px 4px var(--color-error);
}

.input--with-icon {
  width: 100%;
  position: relative;
}

.input__content {
  position: relative;
  padding-inline-start: 40px;
  padding-inline-end: 16px;
}

.input__icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translate(0, -50%);
  color: var(--gray-400);
  pointer-events: none;
  z-index: 1;
}

.input__message {
  display: block;
  margin: 4px 0;
  font-size: 0.875em;
  line-height: 1.25em;
  font-weight: 400;
}

.input__message--help {
  color: var(--gray-400);
}

.input--error {
  border: 1px solid var(--color-error);
}

.input__message--error {
  color: var(--color-error);
}


.select {
  color: var(--gray-900);
  width: 100%;
  padding: 0.7rem 0.75rem;
  border-radius: 6px;
  background-color: var(--white);
  border: 1px solid var(--gray-700);
  padding-right: 40px;
  appearance: none;
  background-image: url(/images/icons/arrow-down.svg);
  background-repeat: no-repeat;
  background-position-x: calc(100% - 12px);
  background-position-y: center;
}

.select:hover,
.radio__input:hover {
  cursor: pointer;
}

.select--error {
  border: 1px solid var(--color-error);
}

.select--error:focus {
  border: 1px solid var(--color-error);
  box-shadow: 0px 0px 4px var(--color-error);
}

.select__message {
  display: block;
  margin: 4px 0;
  letter-spacing: 0.125rem;
  text-transform: uppercase;
  font-size: 0.675em;
  line-height: 1em;
}


.radio,
.checkbox {
  display: flex;
  gap: 8px;
}

.radio__input,
.checkbox__input {
  width: 16px;
  height: 16px;
  margin: 2px;
  appearance: none;
  border: 1px solid var(--stone-700);
  border-radius: 50px;
}

.radio__input:checked {
  border: 4px solid var(--color-primary);
}

.radio__input:focus,
.checkbox__input:focus {
  outline: none;
  box-shadow: 0px 0px 0px 3px #60a5fa;
}
.radio__opt-group,
.checkbox__opt-group {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.radio__opt-group--horizontal,
.checkbox__opt-group--horizontal {
  flex-direction: row;
}


.checkbox__input {
  border-radius: 4px;
}

.checkbox__input:checked {
  background-color: var(--color-primary);
  border: 1px solid var(--color-primary);
  background-image: url(/images/icons/check-checked.svg);
  background-repeat: no-repeat;
  background-position: center;
}