/* container */
.container-sm {
  max-width: 640px;
  padding: 0 16px;
  margin: 0 auto;
}

.container,
.container-md {
  max-width: 768px;
  padding: 0 16px;
  margin: 0 auto;
}

.container-lg {
  max-width: 1024px;
  padding: 0 16px;
  margin: 0 auto;
}

.container-xl {
  max-width: 1280px;
  padding: 0 16px;
  margin: 0 auto;
}

/* section */
.section-sm {
  margin-top: 32px;
  margin-bottom: 32px;
}

.section,
.section-md {
  margin-top: 48px;
  margin-bottom: 48px;
}

.section-lg {
  margin-top: 96px;
  margin-bottom: 96px;
}

.section-xl {
  margin-top: 144px;
  margin-bottom: 144px;
}

/* padded  */
.padded-sm {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 32px;
  padding-bottom: 32px;
}

.padded,
.padded-md {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 48px;
  padding-bottom: 48px;
}

.padded-lg {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 96px;
  padding-bottom: 96px;
}

.padded-xl {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 144px;
  padding-bottom: 144px;
}

.mb-16 {
  margin-bottom: 16px;
}